.pet_slider_main {
    padding: 20px;
}
.pet_slider_card {
    text-align: left;
   width: 10%;
   
}
.pet_slider_card_full {
    background-color: #f04336!important;
    padding: 20px;
    
}
.pet_card_text {
    width: 40%;
}
.pet_slider_card_btn {
    background-color: white!important;
    color: #f04336!important;
}