.left_text_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
  width: 80%;
  text-align: left;
  margin: 0 auto 0 auto;
}
.heading_txt {
  color: #f04336;
}
.dog_image {
  height: 70%;
  width: 70%;
  text-align: left;
}
.dog_image_top {
  position: absolute;
  width: 100%;
}
.adoption_background {
  padding: 40px;
  background-color: white;
}
